<h1>HELLO WORLD</h1>
<aside>
<form method="POST" action="routes/new">
  <input type="text" name="name" placeholder="Paths name">
  <input type="number" name="walk_time" placeholder="walk time">
  <input type="text" name="user_id" placeholder="user_id">
  <input type="text" name="description" placeholder="description">
  <input type="text" name="comments" placeholder="comments">
  <input type="number" name="rating" placeholder="ratings">



  <input type="submit" name="submit">

</form>
</aside>

<% if (result) { %>
  <% result.forEach((item)=>{ %>
    <div>
    <h3>
      id: <%= item.id%>
      <%= item.name %> <br/>
     walk time: <%= item.walk_time %>
     Said: <%= item.description%><br/> user: 
     <%= item.user_id%>
     ratings: 
     <%= item.ratings%>


    </h3>
    </div>
    <button><a href=<%=`/routes/${item.id}`%>>EDIT</a></button>
    <form action=<%=`/routes/${item.id}/delete?_method=DELETE`%>  method="POST" >
    <input type="submit" value="DELETE"/></form>

  <% }) %>

<% } %>
